table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    font-family: Calibri, sans-serif;
}

th,
td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    font-family: Calibri, sans-serif;
}

th {
    background-color: #f2f2f2;
}

.yellow {
    background-color: yellow;
}

.black {
    background-color: black;
    color: white;
}

.green {
    background-color: green;
}

.brown {
    background-color: brown;
    color: white;
}

.pink {
    background-color: pink;
}

.aqua {
    background-color: aqua;
}

.red {
    background-color: red;
}

.white {
    background-color: white;
}

.purple {
    background-color: blueviolet;
    color: white;
}

.blue {
    background-color: blue;
}

.gray {
    background-color: gray;
    height: 60px;
}

.orange {
    background-color: orange;
}
